<Object>
<Name>Settings out</Name>
<NumLevels>1</NumLevels>
<Class>Settings.lvclass</Class>
<Version>1.0.0.4</Version>
<Cluster>
</Cluster>
</Object>
/Name>
<NumElts>3</NumElts>
<String>
<Name>Filename</Name>
<Val>settings.xml</Val>
</String>
<String>
<Name>IP</Name>
<Val>140.252.32.2233</Val>
</String>
<U16>
<Name>Port</Name>
<Val>50000</Val>
</U16>
</Cluster>
</Object>
